.Auth {
  background-image: url(../../assets/image/auth_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 1300px;
}

.inner {
  height: 100vh;
  display: flex;
  gap: 0 50px;
  justify-content: space-between;
  align-items: center;
  transform: translateY(calc(var(--index) * -2));
}

.content {
  max-width: 380px;
  //height: 100%;
}

.img_box img {
  width: 100%;
  height: 100%;
}

.title {
  color: var(--black);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.84px;

  margin-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
  .img_box {
    img {
      width: 94%;
      height: 94%;
    }

    display: flex;
    justify-content: flex-end;
  }

  .Auth {
    background-image: url("../../assets/image/auth_bg_high_size.jpg");
  }
}

@media only screen and (max-width: 1150px) {
  .Auth {
    background-image: url("../../assets/image/auth_bg_light.jpg");
  }

  .img_box {
    display: none;
  }

  .inner {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .inner {
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(calc(var(--index) * 3));
  }
  .content {
    max-width: 100%;
  }
}

