.Navbar {
  width: 100%;
  position: fixed;
  //backdrop-filter: blur(6px);
  background-color: var(--white);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  padding: 20px 0;
}

.nav {
}

.nav_list {
  display: flex;
  gap: 0 32px;

}

.nav_link {
  transition: color 0.3s ease;
  color: #323232;
  font-size: 1em;
  font-weight: 500;
  line-height: 150%;

  &:hover {
    color: var(--orange);
  }
}
